<h1>Puppy Pals</h1>
<%# <p>Find me in app/views/home/index.html.erb</p> %>

<%# COMMENTED OUT UNTIL FURTHER NOTICE %>
 <%# <% if @user.photo.attached? %> 
    <%# <p><%= cl_image_tag @user.photo.key, crop: :scale, width: 150, cloud_name: 'hkoskhtyh'</p> %>
<%# <% end  %>

<%= link_to "Register your dog", "/register_your_dog/create" %>
<%= link_to "Find a dog walking job", "/post_a_job/index" %>
