<h1>This is your Puppy Pals profile</h1>

<%= cl_image_tag @dog.photo.key, crop: :scale, width: 150, cloud_name: 'hkoskhtyh' %>
<%= cl_image_tag @user.photo.key, crop: :scale, width: 150, cloud_name: 'hkoskhtyh' %>
